[Unit]
Description=My Mini Checklist Service
After=network.target

[Service]
ExecStart=/usr/local/myminichecklist
WorkingDirectory=/usr/local
Restart=always

[Install]
WantedBy=multi-user.target